name: Auto Update
on: 
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  Auto-Update:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Setup Python environment
        uses: actions/setup-python@v2
        with:
            python-version: '3.12'
            architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt
      - name: Auto Update
        run: python auto-update.py
      - name: Commit and push changes
        run: |
          git config --global user.name "LOOHP"
          git config --global user.email "jamesloohp@gmail.com"

          git add .
          git commit -m "Auto update" || echo "No changes to commit"
          git push